@font-face {
    font-family: 'advent_proregular';
    src: url('font/adventpro-regular-webfont.eot');
    src: url('font/adventpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/adventpro-regular-webfont.woff2') format('woff2'),
         url('font/adventpro-regular-webfont.woff') format('woff'),
         url('font/adventpro-regular-webfont.ttf') format('truetype'),
         url('font/adventpro-regular-webfont.svg#advent_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(213, 244, 255);
}
/*partie texte d'acceuil*/
.présentation h2{
    font-size: 30px;
    margin-bottom: 0;
    text-align: center;
    
}

.présentation {
    text-align: center;
    background-color: #FFFFFF;
    width: 50%;
    padding: 2%;
    margin-left: 22%;
    border-radius: 10px;
    margin-top: 5%;
    font-family: 'advent_proregular', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*lettre couleur rouge du texte d'acceuil*/
.couleur-lettre {
    color: #F90A0A;
}
/*fin partie texte d'acceuil*/

/*partie présentation de l'entreprise*/
.info {
    background-color: #FFFFFF;
    width: 70%;
    margin-left: 14%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5px;
}

h3 {
    margin-left: 12%;
}

.titre-info {
    margin-top: 5%;
}

.bulle-info {
    display: flex;
    font-family: 'advent_proregular', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.image-info {
    margin-left: 8%;
}

.bulle-texte {
    flex-direction: column;
    margin-left: 5%;
}

.fin-info {
    margin-left: 10%;
    font-family: 'advent_proregular', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*fin partie présentation de l'entreprise*/

@media all and (max-device-width: 480px) {
    
}