@font-face {
    font-family: 'advent_proregular';
    src: url('font/adventpro-regular-webfont.eot');
    src: url('font/adventpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/adventpro-regular-webfont.woff2') format('woff2'),
         url('font/adventpro-regular-webfont.woff') format('woff'),
         url('font/adventpro-regular-webfont.ttf') format('truetype'),
         url('font/adventpro-regular-webfont.svg#advent_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    background-color: #7DD0FF;
}

#logo {
    margin-top: 0.3%;
    margin-left: 5%;
}


/*bouton de la navbar*/
.bouton, .bouton1 {
    background-color: #F90A0A;
    margin-top: 13%;
    padding: 10px;
    border: 1px solid black;
    box-shadow: -1px -1px black;
    color: #fff;
    font-weight: bold;
    font-family: 'advent_proregular';
}


.bouton1 {
    width: 250%;
}

.bouton {
    width: 150%;
}


/*bouton home*/
.nav {
    margin-left: 10%;
    margin-top: 2.26%;
}

/*bouton nos produits*/
.nav2 {
    margin-left: 30%;
    margin-top: 1.96%;
    margin-right: 4%;
}

/*bouton nous contacter*/
.nav3 {
    margin-right: 18%;
    margin-top: 1.9%;
}

/*partie icon user et shop*/
.icon {
    margin-top: 1%;
    display: flex;
}

.login {
    flex-direction: column;
    color: #fff;
}

.shop {
    color: #fff;
}

.user {
   text-align: center;
}

.shop {
    margin-left: 20%;
    text-align: center;
}






